@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #FFF;
    --text-light: #1a1a1a;
    
    --bg-dark: #1e1e1e;
    --text-dark: #f5f5f5;

    --bg-btn: #999;
}

.light {
    background-color: var(--bg-light);
    color: var(--text-light);
}

.dark {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body {
    transition: 
        background-color 0.4s ease,
        color 0.4s ease;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    font-size: 3rem;
}

button {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0.7rem 1.1rem;
    border-radius: 6px;
    background-color: var(--bg-btn);
    color: #FFF;
    border: none;
    font-weight: 500;
    transition: all 0.3s linear;
    outline: none;
    font-family: "Inter", sans-serif;
}

button:hover,
button:focus {
    background-color: #5e5e5ebe;
}